# PostgreSQL database (Neon)
DATABASE_URL=<PUT_YOUR_DATABASE_URL_HERE>

# LLM Provider Configuration
LLM_PROVIDER=<NAME_OF_YOUR_LLM_PROVIDER>
LLM_BASE_URL=<PUT_YOUR_LLM_BASE_URL_HERE>
LLM_API_KEY=<PUT_YOUR_LLM_API_KEY_HERE>
LLM_CHOICE=<CHOOSE_YOUR_MODEL>
INGESTION_LLM_CHOICE=<INGESTION_LLM_CHOICE>

# Embeddings Configuration
EMBEDDING_PROVIDER=<NAME_OF_YOUR_EMBEDDING_PROVIDER>
EMBEDDING_BASE_URL=<PUT_YOUR_EMBEDDING_BASE_URL_HERE>
EMBEDDING_API_KEY=<PUT_YOUR_EMBEDDING_API_KEY_HERE>
EMBEDDING_MODEL=<NAME_OF_EMBEDDING_TEXT_MODEL>
VECTOR_DIMENSION=<768>

# Neo4j Configuration (knowledge graph)
# password is what you set in Neo4j Desktop
NEO4J_URI=<ADD_URI://127.0.0.1:XXXX>
NEO4J_USER=<neo4j>
NEO4J_PASSWORD=<PUT_YOUR_PASSWORD_HERE>

# Application Configuration
APP_ENV=development
LOG_LEVEL=INFO
APP_PORT=8058
